---
import Head from '../components/Head.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Equipo from '../components/Equipo.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<Head />
	</head>
	<body>
		<Header/>
		<main>
			<div class="titulopagina">
				<h1>Sobre Nosotros</h1>
			</div>
			<div class="sobreNosotros">
				<div class="cuadrosTexto1">
					<h2>Historia de la organización</h2>
					<p>Young Life es una organización cristiana que se enfoca en el ministerio con adolescentes y jóvenes. Su objetivo principal es ayudar a los jóvenes a desarrollar relaciones significativas y crecer en su fe. Llevan a cabo programas y actividades que incluyen campamentos, reuniones de club, eventos sociales y estudios bíblicos diseñados para conectar con los jóvenes en un ambiente amigable y accesible.</p>

					<p>En Costa Rica, Young Life ha estado activo en varias comunidades y regiones durante muchos años. Han establecido clubes y grupos de jóvenes en escuelas, iglesias y comunidades locales para brindar apoyo, orientación espiritual y oportunidades de crecimiento a los jóvenes costarricenses. A través de actividades como campamentos y viajes misioneros, Young Life ha brindado a los jóvenes la oportunidad de experimentar la fe en un contexto de comunidad y amistad.</p>
				</div>
				<div class="cuadrosTexto2">
					<h2>Mision</h2>
					<p>Alcanzar con el evangelio de Jesús a los y las jóvenes de Alajuela, discipulándoles con intencionalidad, desarrollando lideres que amen a jesús y la juventud, creando una comunidad de adultos que respalden y soporten la misión.</p>
				</div>
				<div class="cuadrosTexto3">
					<h2>Valores</h2>
					<ul>
						<li>El Evangelio: Vivir de acuerdo con todo el evangelio de Jesucristo y comunicarlo.</li>
						<li>Sagrada Escritura: Actuar bajo la autoridad de la Sagrada Escritura y confiar en el Espíritu Santo para empoderarnos en nuestro ministerio.</li>
						<li>Todos los jóvenes: Llegar a los adolescentes de todas las habilidades y todos los orígenes económicos, culturales y étnicos a través de enfoques innovadores.</li>
						<li>Ecumenismo cristiano: Colaborar con los seguidores de Jesucristo de varias tradiciones e iglesias locales en el mundo.</li>
						<li>Diversidad: Recibir a aquellos a quienes Dios llama para seguir con nuestra misión, hombres y mujeres de todos los orígenes étnicos y habilidades que están comprometidos con el fin común de presentarles a los adolescentes a Jesucristo y ayudarlos a crecer en su fe.</li>
						<li>Salud: Animar a nuestro staff y voluntarios en cuanto a su salud personal y espiritual para que podamos ministrar desde una relación consecuente y creciente con Jesucristo y sus seguidores.</li>
						<li>Mayordomía: Observar los estándares más altos de responsabilidad de todos los recursos depositados en nuestra confianza.</li>
					</ul>
				</div>
			</div>
			<h2>Equipo directivo y personal clave</h2>
			<Equipo />
		</main>
		<Footer />
	</body>
</html>

<style>

	.sobreNosotros{
		padding: 0 20px 20px 20px;
		border-radius: 0%;
		display: flex;
		align-items: baseline;
		flex-wrap: wrap;
		justify-content: space-around;
	}

	.cuadrosTexto1{
		margin: 10px;
		background: var(--amarillo);
        box-shadow: 0 2px 8px rgba(var(--black),55%);
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
		max-width: 900px;
	}
	.cuadrosTexto2{
		margin: 15px;
		background: var(--verdeYL);
        box-shadow: 0 2px 8px rgba(var(--black),55%);
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
		color: white;
		max-width: 400px;
	}
	.cuadrosTexto3{
		margin: 15px;
		background: rgb(202, 71, 71);
        box-shadow: 0 2px 8px rgba(var(--black),55%);
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
		color: rgb(255, 255, 255);
		
	}
</style>