---
import Head from '../components/Head.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Carusell from '../components/Carusell.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<Head/>
	</head>
	<body>
		<Header/>
		<main>
            <div class="titulopagina">
				<h1>Campamentos</h1>
			</div>
			<div id="videoCampa">
				<iframe width="1060" height="615" src="https://www.youtube.com/embed/Y2AWtfn5wlg?si=SnyKj5ijmFEjrF-F&amp;controls=1&amp;start=1;autoplay=1&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>			
			</div>
			<div class="descripcionCampa">
				<div class="textoCampa">
					<h2>En campamento podras vivir una experiencia unica!</h2>
					<h3>Esto es lo que te espera:</h3>
					<p><b>Un lugar increible y lleno de diversión:</b> Nuestros campamentos son realizados en <a href="https://www.lamontana.net/home" target="_blank" >La Montaña Cristian Camps</a> desde las majestuosas montañas hasta las orillas de lagos cristalinos, nuestros campamentos se encuentran en lugares impresionantes. Explora entornos naturales que inspiran la maravilla y la conexión.
					Actividades Inolvidables: Desde desafíos extremos hasta relajantes noches alrededor de la fogata, cada día está lleno de actividades que despiertan la emoción y fomentan el trabajo en equipo. ¡Prepárate para descubrir nuevas habilidades y pasiones!</p>
					<p><b>Comunidad de Apoyo:</b> En Young Life, la verdadera magia está en las conexiones humanas. Conoce a nuestros dedicados líderes y consejeros, quienes están aquí para guiarte, inspirarte y asegurarse de que tu experiencia sea única y significativa.
					Momentos de Reflexión: Más allá de la diversión, nuestros campamentos ofrecen momentos de reflexión personal y espiritualidad. Explora tus valores, conecta contigo mismo y descubre el significado más profundo que puede ofrecer la vida </p>
					<p><b>Testimonios Auténticos:</b> <a href="/testimonios" target="_blank">Lee las historias reales de jóvenes</a> que han vivido la experiencia Young Life. Sus testimonios cuentan cómo los campamentos han influido en sus vidas, creando recuerdos que perduran mucho después de regresar a casa.</p>
					<p><b>¡Listo para la Aventura? ¡Contactanos e inscribete para vivir esta experiencia unica!</b></p>
					<a href="/contacto" class="btnContactar">Contactar</a>
				</div>
				<div class="imgInfoCampa">
					<img id="YLhero" src="/campamento/CAMPAINFO1.jpeg" alt="Campamento Nuevos informacion">
					<img id="YLhero" src="/campamento/CAMPAINFO2.jpeg" alt="Campamento Crei informacion">
				</div>
			</div>
			<h2>Algunas imagenes de campamento</h2>
			<Carusell />
			<!--<Carrusel />-->
		</main>
		<Footer />
	</body>
</html>

<style>
    	#videoCampa{
		display: flex;
		justify-content: center;
	}

	.descripcionCampa{
		margin: 2em;
		display: flex;
	}

	.textoCampa{
		padding: 30px;
		margin-right: 10px;
		box-shadow: 0 2px 8px rgba(var(--black), 55%);
	}
	h3{
		color: var(--verdeYL);
	}

	@media (max-width: 720px) {
		.descripcionCampa{
			flex-direction: column;
		}
	}
</style>
