---
import Head from '../components/Head.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<Head />
	</head>
	<body>
		<Header />
		<main>
			<h1>Testimonios</h1>
		</main>
		<Footer />
	</body>
</html>

<style>

	#YLhero{
		border-radius: 0%;
	}
</style>