---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Mapa from '../components/Mapa.astro';

---

<!doctype html>
<html lang="en">
	<head>
		<!--<BaseHead >-->
	</head>
	<body>
		<Header/>
		<main>
			<div class="titulopagina">
				<h1>Ubicación</h1>
				<h2>de nuestros clubes</h2>
			</div>

			<Mapa />
		</main>
		<Footer />
	</body>
</html>