<div class="imagenesEquipo">
    <div class="imgProfile" style="background-image: url(https://media.licdn.com/dms/image/C4E03AQHD7SlDbjq5pA/profile-displayphoto-shrink_800_800/0/1628033211522?e=1704931200&v=beta&t=TGsB1o-wHIeu6ZLBZK13NGz33YaJavjimVHIuxtTImQ);">
        <h3>Priscilla Solórzano</h3>
        <p>Directora de Metro Alajuela</p>
    </div>
    <div class="imgProfile" style="background-image: url(/equipoIMG/nicoCastro.png)">
        <h3>Nicole Castro</h3>
        <p>Directora del Área Este</p>
    </div>
    <div class="imgProfile" style="background-image: url(/equipoIMG/sara.jpeg);">
        <h3>Sara Trejos</h3>
        <p>Directora del Área Oeste</p>
    </div>
</div>
<div class="imagenesEquipo">
    <div class="imgProfile" style="background-image: url(/equipoIMG/patri.jpeg);">
        <h3>Patricia Rodríguez</h3>
        <p>Directora de Madres Jóvenes</p>
    </div>
    <div class="imgProfile" style="background-image: url(https://lh3.googleusercontent.com/a/ACg8ocKVC8sALEXNdMQJSMehvt6mqg380VdqXFyMozcakRhfZYc=s576-c-no);">
        <h3>Raquel Abarca</h3>
        <p>Coordinadora de Desamparados</p>
    </div>
    <div class="imgProfile" style="background-image: url(/equipoIMG/Majo.png)">
        <h3>Maria José Ugalde</h3>
        <p>Coordinadora de Alajuela</p>
    </div>
</div>

<style>
    .imagenesEquipo{
        display: flex;
        justify-content: space-evenly;
    }
</style>