---
---
<div class="lineas">
    <span class="line"></span>
    <span class="line"></span>
    <span class="line"></span>
</div>

<style>
    .lineas {
        margin-right: 10px;
        cursor: pointer;
        display: none;
    }

    .lineas .line {
        display: block;
        width: 30px;
        height: 5px;
        margin-bottom: 5px;
        background-color: #000000;
    }

    @media (max-width: 720px) {
        .lineas {
            display: block;
        }
	}
</style>