<div class="previewIndexTestiZone">
        <div class="flex-containerTesti">
            <div class="flex-boxTesti">
                <div class="previewIndexTesti">
                    <h3>Raquel Abarca</h3>
                    <div class="imgProfile1"></div>
                    <p>"¡Estoy encantado con el servicio que recibí de esta organización sin fines de lucro! Su dedicación y compromiso con la comunidad son verdaderamente admirables. Gracias a su apoyo, he podido mejorar mi vida de maneras que nunca imaginé. Son un equipo increíble que cambia vidas."</p>
                </div>
            </div>
            <div class="flex-boxTesti">
                <div class="previewIndexTesti">
                    <h3>Katalina Mursia</h3>
                    <div class="imgProfile2"></div>
                    <p>"Hacer voluntariado en esta organización sin fines de lucro ha sido una experiencia transformadora. He tenido la oportunidad de contribuir a causas significativas y conectar con personas increíbles. Esta organización realmente marca la diferencia en la comunidad."</p>
                </div>
            </div>
            <div class="flex-boxTesti">
                <div class="previewIndexTesti">
                    <h3>Anthony Solorzano</h3>
                    <div class="imgProfile3"></div>
                    <p>"No puedo agradecer lo suficiente a esta organización por el apoyo que me brindaron en un momento difícil de mi vida. Sus servicios fueron cruciales para mí y mi familia. Estoy eternamente agradecido por su compromiso y generosidad."</p>
                </div>
            </div>
        </div>
        <a href="/testimonios" class="botonVerMas">Ver más</a>
</div>

<style>

    .previewIndexTestiZone{
        display: flex;
        align-items: center;
        flex-direction: column;
    }

	.flex-containerTesti {
    display: flex;
    justify-content: center; /* Alinea horizontalmente al centro */
    margin-right: 100px;
    margin-left: 100px;
    }

    .flex-boxTesti {
        text-align: center;
        padding: 20px;
        width: 350px;
    }

    .previewIndexTesti {
        background: rgb(244, 244, 244);
        box-shadow: 0 2px 8px rgba(var(--black),55%);
        padding: 20px;
        color: #000000;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .botonVerMas {
        padding: 15px 30px;
        color: #000000;
        text-decoration: none;
        border-radius: 5px;
        font-size: 30px;
        width: 300px;
        background-color: var(--amarillo);
        text-align: center;
        }

    .imgProfile1{
        background-image: url(https://lh3.googleusercontent.com/a/ACg8ocKVC8sALEXNdMQJSMehvt6mqg380VdqXFyMozcakRhfZYc=s576-c-no);
        background-position: center; 
        background-size: cover;
        border-radius: 50%; 
        width: 200px;
        height: 200px;
    }
    .imgProfile2{
        background-image: url(/kata.jpeg);
        background-position: center; 
        background-size: cover;
        border-radius: 50%; 
        width: 200px;
        height: 200px;
    }
    .imgProfile3{
        background-image: url(/Antho.jpg);
        background-position: center; 
        background-size: cover;
        border-radius: 50%; 
        width: 200px;
        height: 200px;
    }
</style>